#featured {
  position: relative;
  height: 110vh;
  background-color: #000000;
}

.featured-item {
  display: none;
  height: 100%;
}

.featured-item.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .logo {
    position: fixed;
    z-index: 1;
    left: 2rem;
    top: 1.7rem;
    img {
      width: 30%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    position: absolute;
    mix-blend-mode: difference;
    top: 2rem;
    left: 2rem;
    img {
      width: 60%;
    }
  }
}

@media screen and (min-width: 2000px) {
  .logo {
    position: absolute;
    mix-blend-mode: difference;
    top: 2rem;
    left: 3rem;
    img {
      width: 10%;
    }
  }
}
