#featured {
  position: relative;
  height: 110vh;
  background-color: #000000;
}

.featured-item {
  display: none;
  height: 100%;
}

.featured-item.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  mix-blend-mode: difference;
  img {
    position: absolute;
  }
}

@media screen and (max-width: 2000px) {
  .logo img {
    mix-blend-mode: difference;
    position: absolute;
    width: 10%;
    top: 2rem;
    left: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .logo img {
    position: absolute;
    width: 15%;
  }
}

@media screen and (max-width: 400px) {
  .logo img {
    position: fixed;
    z-index: 4;
    left: 2rem;
    top: 1.7rem;
    width: 20%;
    mix-blend-mode: normal;
  }
}
