#slider {
    position: relative;
    height: 110vh;
    width: 100vw;
    background-color: #000000;
}
.logo-mark {
  mix-blend-mode: difference;
}

.logo-mark img {
    position: absolute;
    width: 10%;
    height: auto;
    top: 2rem;
    right: 3rem;
    z-index: 2;
}

.featured-item {
  display: none;
  height: 100%;
  width: 100%;
}

.featured-item.active {
  display: flex;
  align-items: center;
  justify-content: center;
}