#contact {
  height: 500vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.quote {
  padding-top: 100vh;
  position: absolute;
  height: 150vh;
  left: 10%;
  h3 {
    position: sticky;
    top: 30vh;
    color: white;
    font-size: 2rem;
    font-family: "Bangers", cursive;
  }
}
.quote.top {
  top: 0;
}
.quote.mid {
  top: 150vh;
}
.quote.low {
  top: 300vh;
}

.contact-buttons {
  position: absolute;
  padding-top: 85vh;
  height: 100%;
  right: 5%;
  ul {
    position: sticky;
    top: 85vh;
  }
  li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    a {
      img {
        width: 30px;
        height: 30px;
        opacity: 0.75;
        display: block;
        border: none;
        filter: invert(1);
      }
      img:hover {
        opacity: 1;
        transition: 400ms ease-in-out;
      }
    }
  }
}

.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%) rotate(180deg);
  span {
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    animation: buttonbounce 2.5s infinite;
  }
  span:nth-child(2) {
    animation-delay: -0.1s;
  }
  span:nth-child(3) {
    animation-delay: -0.2s;
  }
}

@keyframes buttonbounce {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
