#contact {
  // display: flex;
  // flex-direction: column;
  height: 300vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.quote {
  position: sticky;
  h3 {
    color: white;
    font-size: 2rem;
    font-family: "Bangers", cursive;
  }
}
.quote.top{
  top: 20vh;
//   h3 {
//   transform: translate(0, 50vh);
//   }
}
.quote.mid{
  top: 40vh;
//   h3 {
//   transform: translate(0, 100vh);
//   }
}
.quote.low{
  top: 60vh;
  // h3 {
  // transform: translate(0, 150vh);
  // }
}

.contact-buttons {
  position: sticky;
  top: 85vh;
  // padding-top: 90vh;
  li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    a {
      img {
        width: 30px;
        height: 30px;
        opacity: 0.75;
        display: block;
        border: none;
        filter: invert(1);
      }
      img:hover {
        opacity: 1;
        transition: 400ms ease-in-out;
      }
    }
  }
}

.arrow {
  position: sticky;
  top: 85vh;
  transform: translate(-50%) rotate(180deg);
  // padding-top: 90vh;
  span {
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    margin: -10px;
    animation: buttonbounce 2.5s infinite;
    transform: rotate(45deg);
  }
  span:nth-child(2) {
    animation-delay: -0.1s;
  }
  span:nth-child(3) {
    animation-delay: -0.2s;
  }
}

@keyframes buttonbounce {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
