.card {
  visibility: hidden;
}

.card.active {
  visibility: visible;
  position: absolute;
  color: white;
  opacity: 0.8;
  font-family: "Bangers", cursive;
}

.MuiCircularProgress-root {
  position: absolute;
  bottom: 0em;
  left: 0%;
}

.MuiCircularProgress-svg {
  color: pink;
  opacity: 0.4;
}

@media screen and (max-width: 400px) {
  .card.active {
    bottom: 15%;
    left: 15%;
    h3 {
      transform: translate(3rem, -50%);
      font-size: 1rem;
      font-weight: 100;
    }
  }

  .MuiCircularProgress-svg {
    width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  .card.active {
    left: 5%;
    bottom: 20%;
    h3 {
      transform: translate(3rem, -50%);
      font-size: 1.5rem;
      font-weight: 100;
    }
  }
}
