#slider {
    position: relative;
    height: 105vh;
    min-width: 100%;
    background-color: black;
    overflow: hidden;
}

.logo-mark img {
    position: absolute;
    width: 8%;
    height: auto;
    top: 5%;
    right: 4%;
    z-index: 1;
}

.player {
  height: 100% !important;
  width: 100% !important;
}

.player-wrapper {
  display: absolute;
  width: 0;
  height: 0;
}

.player-wrapper.active {
  height: 115vh;
  min-width: 100%;
}

figure h1 {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate( -50%);
}
figure h2 {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate( -50%);
}