.slider {
    height: 92vh;
    width: 100%;
    background-color: black;
}

.slide .active {
    height: 100%;
    position: absolute;
}

.logo-mark img {
    position: absolute;
    width: 10%;
    /* width: 150px; */
    height: auto;
    top: 5%;
    left: 86%;
    z-index: 1;
}

/* iframe { 
  display: block; 
  width: 100%; 
  border: none; 
  overflow-y: auto; 
  overflow-x: hidden;
} */