.slider {
    position: relative;
    height: 90vh;
    width: 110vw;
    background-color: black;
    overflow: hidden;
}

/* .slide {
  position: absolute;
  top: -10vh;
} */

/* .slide .active {
  height: 100%;
  position: absolute;
  overflow: hidden;
} */

.cards {
  display: flex;
  width: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}

.card {
  height: 30vh;
  text-align: center;
  color: white;
}
