#slider {
    position: relative;
    height: 92vh;
    min-width: 100vw;
    background-color: black;
    overflow: hidden;
}

.logo-mark img {
    position: absolute;
    width: 8%;
    height: auto;
    top: 5%;
    right: 4%;
    z-index: 1;
}

figure h1 {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate( -50%);
}
figure h2 {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate( -50%);
}