#studio {
  position: relative;
  height: 125vh;
}

.slide {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  .slide-txt {
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    top: 50%;
    right: 6rem;
    font-family: monospace;
  }
}

.splide__pagination {
  bottom: 3em;
  justify-content: flex-start;
  transform: translateX(-45%);
}