#studio {
  position: relative;
}

.slide {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  .slide-txt {
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    font-family: monospace;
  }
}

@media screen and (max-width: 400px) {

  #studio {
    height: 100vh;
  }

  .slide .slide-txt {
    top: 50%;
    text-align: justify;
    width: 90%;
    padding: 5% 5%;
  }

  .splide__arrow {
    top: 42%;
  }  
}

@media screen and (min-width: 1024px) {
  #studio {
    height: 95vh;
  }

  .slide .slide-txt {
    top: 50%;
    text-align: justify;
    width: 90%;
    padding: 5% 5%;
  }
}
