#studio {
  position: relative;
  height: 125vh;
}

.slide {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  .slide-txt {
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    top: 50%;
    right: 6rem;
    font-family: monospace;
  }
}

.splide__pagination {
  bottom: 3em;
  justify-content: center;
  transform: translateX(-50%);
}

@media screen and (max-width: 400px) {

  .slide .slide-txt {
    display: inline-block;
    top: 70%;
    text-align: center;
    left: 6rem;
  }

  .splide__pagination {
    display: none;
  }
  
}